@mixin before_circle {
    position: relative;
    z-index: 2;
    padding-left: 12px;

    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 36px;
        height: 36px;
        border-radius: 100%;
        z-index: -1;
        background-color: $main-color;
    }
}

